

//$grid-gutter-width: 10px;
//$container-large-desktop: 1024px;
$box-shadow: 0 4px 0 0 rgba(64, 55, 55, 0.5);
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  //height: 100%;
  background-color: black;
  font-family: 'triforce';
  margin: 50px;
}
@font-face {
    font-family: 'triforce';
   src: "fonts/Triforce.ttf";
}

.game-container {

//  background-image: <iframe src="//giphy.com/embed/leAV27tKs2PiE" width="480" height="436" frameborder="0" class="giphy-embed" allowfullscreen></iframe>;
  //-webkit-background-size: cover;
}

select {
  display: inline-block;
}
